{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body  %}

    <center>
        <br>
        <br>
        <br>
        <br>

        <h1>Erreur 404</h1>
        <h3>désolé tu ne peux pas reserver une voiture le date saisie incompatible</h3>
    </center>


{% endblock %}
